/*===========PARAMETERS updateVersion START ===========*/
parameter[xml|id="freeInput"] {
  content: oxy_label(text, "Input your update description here:  ", width, 120px, text-align, left) oxy_textfield(edit, "#text", columns, 40, tooltip, "this message will be put into the first paragraph of the <change> element");
  visibility: visible;
}

parameter[xml|id="freeInput"] {
  visibility: -oxy-collapse-text;
}

parameter[xml|id="update"]:before {
  content: "Choose the update type:"
    oxy_combobox(edit, "@type",
      editable, true,
      values, "patch, minor, major"
    );
}

/*===========PARAMETERS updateVersion END ===========*/