@charset "UTF-8";
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "https://www.w3.org/XML/1998/namespace"; /* @import "normalize"; */
/*=========== _GLOBAL START===========*/
oxy|document {
  /* background-image:url("images/background.png"); */
  background-repeat: repeat-x;
  background-position: top;
  background-color: #2C363B;
}

dimeTools {
  /* position: relative; */
  font-family: arial, sans-serif, "times new roman";
  font-size: 1em;
  line-height: 1.2;
  width: 800px;
  margin: 0 auto;
  border: 1px solid;
}

h1, h2 {
  width: 70%;
  margin: auto;
  padding-top: 0.7rem;
  text-align: center;
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

div {
  background-color: #fff;
  color: black;
  border: outset;
  width: 100%;
}

a:hover {
  color: #6b9282;
  border: 1px dotted silver;
  padding: 0;
}

a {
  content: url("../lib/pct/link.png");
  link: attr(href);
}

* {
  display: block;
  margin-top: 5px;
}

p {
  width: 90%;
  padding: 0.5rem;
  margin: 1rem auto 1rem auto;
  background-color: #f1f3f4;
  color: black;
}

span {
  margin: 1rem;
  color: #cfd186;
}

/*=========== _GLOBAL END ===========*/
.contents {
  background-color: #2C363B;
  font-family: arial, sans-serif, "times new roman";
  color: #fff;
  margin: 2em;
  padding: 2em;
}
.contents__ul {
  display: block;
}
.contents__ul li {
  display: list-item;
  list-style: square;
  padding-left: 20px;
  margin-left: 20px;
}

/*===========PARAMETERS GLOBAL START===========*/
div > parameters {
  /* margin: 5%; */
  width: 70%;
  margin: 1rem auto 1rem auto;
}

parameters > parameter {
  border: solid;
  border-width: thin;
  padding: 0.5rem;
  visibility: -oxy-collapse-text;
}

.transform {
  content: oxy_label(text, "Choose the file: ", width, 28em, text-align, left) oxy_urlChooser(edit, "@file", columns, 22);
}

.urlChooser {
  content: oxy_urlChooser(edit, "@file", columns, 22);
}

.config {
  content: oxy_label(text, "Choose a configuration file: ", width, 28em, text-align, left) oxy_urlChooser(edit, "@file", columns, 22);
}

file {
  /* margin: 0.5em;
  padding: 0.5em; */
  background-color: grey;
  width: 0.5em;
  font-size: 1em;
  /* margin-left: 5em; */
}

/*===========PARAMETERS GLOBAL END===========*/
/*=========== DOXconvX ==========*/
parameter[xml|id=meiHead]:before {
  content: oxy_label(text, "Don't use the external meiHead (Werk-header)", width, 20em, text-align, left) "  " oxy_checkbox(edit, "#text", values, "0", uncheckedValues, "1");
  visibility: -oxy-collapse-text;
}

parameter[xml|id=genre]:before {
  content: oxy_label(text, "Genre:", width, 120px, text-align, left) oxy_combobox(edit, "#text", editable, true, values, "orchestral, chamber, piano, opera");
}

parameter[xml|id=Clarinetto]:before {
  content: oxy_label(text, "Clarinetto:", width, 25px, text-align, left) oxy_combobox(edit, "#text", editable, true, values, "none, Si♭/B, La/A, Do/C, Si/H");
}

parameter[xml|id=Clarino]:before {
  content: oxy_label(text, "Clarino:", width, 25px, text-align, left) oxy_combobox(edit, "#text", editable, true, values, "none, Si♭/B, Mi♭/Es, Re/D, Do/C");
}

parameter[xml|id=Corno]:before {
  content: oxy_label(text, "Corno:", width, 25px, text-align, left) oxy_combobox(edit, "#text", editable, true, values, "none, Fa/F, Mi♭/Es, Do/C");
}

parameter[xml|id=pages]:before {
  content: oxy_label(text, "Movement pages:", width, 120px, text-align, left) "  " oxy_textfield(edit, "#text", columns, 4, tooltip, "e.g. 2-15");
  visibility: -oxy-collapse-text;
}

/*=========== DOXconvX END ==========*/
/*=========== CREATE-IDs ==========*/
parameter[xml|id=recount_measures]:before {
  content: oxy_label(text, "Recount measures (@n)", width, 20em, text-align, left) "  " oxy_checkbox(edit, "#text", values, "YES", uncheckedValues, "NO");
  visibility: -oxy-collapse-text;
}

parameter[xml|id=all]:before {
  content: oxy_label(text, "Apply for all elements in the <body>", width, 20em, text-align, left) "  " oxy_checkbox(edit, "#text", values, "YES", uncheckedValues, "NO");
  visibility: -oxy-collapse-text;
}

parameter[xml|id=els2apply]:before {
  content: oxy_label(text, "Apply only to (element names):", width, 120px, text-align, left) "  " oxy_textfield(edit, "#text", columns, 20, tooltip, "multiple entries are comma separated: note,rest,...");
}

parameter[xml|id=els2exclude]:before {
  content: oxy_label(text, "Exclude elements: ", width, 120px, text-align, left) "  " oxy_textfield(edit, "#text", columns, 20, tooltip, "multiple entries are comma separated: note,rest,...");
  visibility: -oxy-collapse-text;
}

parameter[xml|id=addSuffix]:before {
  content: oxy_label(text, "Add suffix to the existed IDs", width, 20em, text-align, left) "  " oxy_checkbox(edit, "#text", values, "YES" uncheckedValues, "NO");
  visibility: -oxy-collapse-text;
}

parameter[xml|id=suffix]:before {
  content: oxy_label(text, "Specify suffix: ", width, 120px, text-align, left) "  " oxy_textfield(edit, "#text", columns, 20, tooltip, "e.g. '-b'");
  visibility: -oxy-collapse-text;
}

/*=========== CREATE-IDs END ===========*/
parameter[xml|id=staff_min]:before {
  content: oxy_label(text, "The staff to be merged IN (a lower number):", width, 20em, text-align, left) "  " oxy_textfield(edit, "#text", columns, 3, tooltip, "e.g. 1");
  visibility: visible;
}

parameter[xml|id=staff_max]:before {
  content: oxy_label(text, "The staff to be merged (a higher number):", width, 20em, text-align, left) "  " oxy_textfield(edit, "#text", columns, 3, tooltip, "e.g. 2");
  visibility: visible;
}

button[name=mergeStaves]:before {
  font-size: 1.5em;
  margin: 0.5em;
  padding: 1em;
  display: block;
  margin-left: 5em;
  background-color: transparent;
  content: oxy_button(actionID, "mergeStaves");
}

button[name=fb]:before {
  font-size: 1.5em;
  margin: 0.5em;
  padding: 1em;
  display: block;
  margin-left: 5em;
  background-color: transparent;
  content: oxy_button(actionID, "fb");
}

/*=========== DIFF ===========*/
.base {
  content: oxy_label(text, "Choose the base file (dmeref): ", width, 28em, text-align, left) oxy_urlChooser(edit, "@file", columns, 22);
}

.compare {
  content: oxy_label(text, "Choose the compared file (dmeedt): ", width, 28em, text-align, left) oxy_urlChooser(edit, "@file", columns, 22);
}

button[name=diff]:before {
  font-size: 1.5em;
  margin: 0.5em;
  padding: 1em;
  display: block;
  margin-left: 5em;
  background-color: transparent;
  content: oxy_button(actionID, "diff");
}

/*=========== DIFF END ===========*/
/*===========PARAMETERS updateVersion START ===========*/
parameter[xml|id=freeInput] {
  content: oxy_label(text, "Input your update description here:  ", width, 120px, text-align, left) oxy_textfield(edit, "#text", columns, 40, tooltip, "this message will be put into the first paragraph of the <change> element");
  visibility: visible;
}

parameter[xml|id=freeInput] {
  visibility: -oxy-collapse-text;
}

parameter[xml|id=update]:before {
  content: "Choose the update type:" oxy_combobox(edit, "@type", editable, true, values, "patch, minor, major");
}

/*===========PARAMETERS updateVersion END ===========*/
/*=========== extract_parts ==========*/
div[xml|id=extract_parts] > parameters {
  width: 30%;
  /*	text-align: center;*/
}

div[xml|id=extract_parts] > parameters > parameter {
  padding-left: 1rem;
  /*padding-right: auto;*/
}

parameter[xml|id=staff-1]:before {
  content: "Staff 1     " oxy_combobox(edit, "#text", width, 20%, editable, false, values, ", 1, 1.1, 1.2");
}

parameter[xml|id=staff-2]:before {
  content: "Staff 2     " oxy_combobox(edit, "#text", width, 20%, editable, false, values, ", 2, 2.1, 2.2");
}

parameter[xml|id=staff-3]:before {
  content: "Staff 3     " oxy_combobox(edit, "#text", width, 20%, editable, false, values, ", 3, 3.1, 3.2");
}

parameter[xml|id=staff-4]:before {
  content: "Staff 4     " oxy_combobox(edit, "#text", width, 20%, editable, false, values, ", 4, 4.1, 4.2");
}

parameter[xml|id=staff-5]:before {
  content: "Staff 5     " oxy_combobox(edit, "#text", width, 20%, editable, false, values, ", 5, 5.1, 5.2");
}

parameter[xml|id=staff-6]:before {
  content: "Staff 6     " oxy_combobox(edit, "#text", width, 20%, editable, false, values, ", 6, 6.1, 6.2");
}

parameter[xml|id=staff-7]:before {
  content: "Staff 7     " oxy_combobox(edit, "#text", width, 20%, editable, false, values, ", 7, 7.1, 7.2");
}

parameter[xml|id=staff-8]:before {
  content: "Staff 8     " oxy_combobox(edit, "#text", width, 20%, editable, false, values, ", 8, 8.1, 8.2");
}

parameter[xml|id=staff-9]:before {
  content: "Staff 9     " oxy_combobox(edit, "#text", width, 20%, editable, false, values, ", 9, 9.1, 9.2");
}

parameter[xml|id=staff-10]:before {
  content: "Staff 10   " oxy_combobox(edit, "#text", width, 23%, editable, false, values, ", 10, 10.1, 10.2");
}

parameter[xml|id=staff-11]:before {
  content: "Staff 11   " oxy_combobox(edit, "#text", width, 23%, editable, false, values, ", 11, 11.1, 11.2");
}

parameter[xml|id=staff-12]:before {
  content: "Staff 12   " oxy_combobox(edit, "#text", width, 23%, editable, false, values, ", 12, 12.1, 12.2");
}

parameter[xml|id=staff-13]:before {
  content: "Staff 13   " oxy_combobox(edit, "#text", width, 23%, editable, false, values, ", 13, 13.1, 13.2");
}

parameter[xml|id=staff-14]:before {
  content: "Staff 14   " oxy_combobox(edit, "#text", width, 23%, editable, false, values, ", 14, 14.1, 14.2");
}

parameter[xml|id=staff-15]:before {
  content: "Staff 15   " oxy_combobox(edit, "#text", width, 23%, editable, false, values, ", 15, 15.1, 15.2");
}

/*=========== extract_parts END ===========*/
/*===========Enhance From Doxml START===========*/
div[xml|id=doxml] > parameters > .urlChooser {
  /* color: red; */
  content: oxy_label(text, "Choose the input doxml file: ", width, 28em, text-align, left) oxy_urlChooser(edit, "@file", columns, 30);
}

/* <parameter xml:id="replaceAll">YES</parameter>
  <parameter xml:id="add"/>    */
/* parameter[xml|id="replaceAll"]:before {
  content:
    oxy_label(text, "Replace all elements in the current MEI", width, 20em, text-align, left) "  "
    oxy_checkbox(edit, "#text",
      values, "YES",
      uncheckedValues, "NO");
  visibility: -oxy-collapse-text;
}

parameter[xml|id="add"]:before {
  content:
    oxy_label(text, "Add elements to the existing in the current MEI", width, 20em, text-align, left) "  "
    oxy_checkbox(edit, "#text",
      values, "YES",
      uncheckedValues, "NO");
  visibility: -oxy-collapse-text;
} */
/*===========Enhance From Doxml END===========*/