/*=========== extract_parts ==========*/

div[xml|id="extract_parts"]>parameters {
  width: 30%;
  /*	text-align: center;*/

}

div[xml|id="extract_parts"]>parameters>parameter {

  padding-left: 1rem;
  /*padding-right: auto;*/
}


@for $i from 1 to 10 {


  parameter[xml|id="staff-#{$i}"]:before {
    content: "Staff #{$i}     "
    oxy_combobox(edit, "#text", width, 20%,
      editable, false,
      values, ", #{$i}, #{$i}.1, #{$i}.2");
  }
}


@for $i from 10 through 15 {
  parameter[xml|id="staff-#{$i}"]:before {
    content: "Staff #{$i}   "
    oxy_combobox(edit, "#text", width, 23%,
      editable, false,
      values, ", #{$i}, #{$i}.1, #{$i}.2");

  }
}

/*=========== extract_parts END ===========*/