parameter[xml|id = "staff_min"]:before {
	content: oxy_label(text, "The staff to be merged IN (a lower number):", width, 20em, text-align, left) "  "
 oxy_textfield(edit, "#text", columns, 3, tooltip, "e.g. 1");
	visibility: visible;
}

parameter[xml|id = "staff_max"]:before {
	content: oxy_label(text, "The staff to be merged (a higher number):", width, 20em, text-align, left) "  "
 oxy_textfield(
edit, "#text", columns, 3, tooltip, "e.g. 2");
	visibility: visible;
}

button[name = "mergeStaves"]:before {
	font-size: 1.5em;
	margin: 0.5em;
	padding: 1em;
	display: block;
	margin-left: 5em;
	background-color: transparent;
	content: 
	oxy_button(actionID, 'mergeStaves');
}