/*=========== DIFF ===========*/
.base {
  content:
    oxy_label(text, "Choose the base file (dmeref): ", width, 28em, text-align, left) oxy_urlChooser(edit, "@file", columns, 22);
}

.compare {
  content:
    oxy_label(text, "Choose the compared file (dmeedt): ", width, 28em, text-align, left) oxy_urlChooser(edit, "@file", columns, 22);
}

button[name="diff"]:before {
  font-size: 1.5em;
  margin: 0.5em;
  padding: 1em;
  display: block;
  margin-left: 5em;
  background-color: transparent;
  content:
    oxy_button(actionID, 'diff');
}

/*=========== DIFF END ===========*/