/*===========PARAMETERS GLOBAL START===========*/
div>parameters {
  /* margin: 5%; */
  width: 70%;
  margin: 1rem auto 1rem auto;
}

parameters>parameter {
  border: solid;
  border-width: thin;
  padding: 0.5rem;
  visibility: -oxy-collapse-text;
}

.transform {
  content:
    oxy_label(text, "Choose the file: ", width, 28em, text-align, left) oxy_urlChooser(edit, "@file", columns, 22);
}

.urlChooser {
  content:
    oxy_urlChooser(edit, "@file", columns, 22);
}

.config {
  content:
    oxy_label(text, "Choose a configuration file: ", width, 28em, text-align, left) oxy_urlChooser(edit, "@file", columns, 22);
}

file {
  /* margin: 0.5em;
  padding: 0.5em; */
  background-color: grey;
  width: 0.5em;
  font-size: 1em;
  /* margin-left: 5em; */
}

/*===========PARAMETERS GLOBAL END===========*/